<div class="jumbotron">
		<div class="container">
			<a href="/home"><img src="~/imagenes/body/logo/adutblanco.png" class="image-responsive" ></a>
		</div>
	</div>
	  <nav id="navigator" class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
					<li class="active"><a href="Home/">Inicio</a></li>
					<li><a href="#about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Institucional<span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li>@Html.ActionLink("Quienes somos", "Quienes_somos", "Institucional")</li>
						<li>@Html.ActionLink("Autoridades", "Autoridades", "Institucional")</li>
						<li>@Html.ActionLink("Seccionales", "Seccionales", "Institucional")</li>
					  </ul>
					</li>
					<li><a href="#about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Beneficios<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Turismo</a></li>
							<li><a href="#">Hoteleria</a></li>
							<li><a href="#">Convenios</a></li>
					  </ul>
					</li>
					<li>@Html.ActionLink("Novedades", "", "Novedades")</li>
					<li><a href="#about">Capacitación</a></li>
					
					<li><a href="#about">Afiliados</a></li>
					<li>@Html.ActionLink("Contacto", "", "Contacto")</li>
				  </ul>
				  <a href="#" style="
					color: white;
					float: right;
				">
					<i class="fa fa-twitter" style="
					padding-top: 15px;
					padding-bottom: 15px;
					font-size: 20px;
					margin-left: 16px;
				"></i>    
				  </a>
				  <a href="" style="
					font-size: 20px;
					color: white;
					float: right;
				"><i class="fa fa-facebook" style="
					position: relative;
					padding-top: 15px;
					padding-bottom: 15px;
				"></i></a>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav>